body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    color: var(--color-text-primary);
}

h1,
h2,
h3,
h4 {
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
}

h1 {
    font-size: clamp( 2.5rem, 7vw, 5rem);
}

h2 {
    font-size: clamp( 2rem, 5vw, 3.5rem);
}

h3 {
    font-size: clamp( 1.5rem, 3vw, 2rem);
}

p {
    color: var(--color-text-secondary);
}

button,
a {
    font-weight: 500;
}